@media only screen and (max-width: 768px){
     .nav1{
        font-size: 11px;
        float: none;
    display: block;
    text-align: left;
    
}
.soporte5{
    font-size: 12px;
}
.soporte7{
    font-size: 12px;
}
.soporte9bis{
    font-size: 12px;
}
.soporte11{
    font-size: 12px;
}
.soporte14{
    font-size: 12px;
}
}