.magna1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    }

.resinadelta{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.escan1{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}