

.nav1{
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: rgb(77, 77, 77);
}



.tit3{
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: rgb(77, 77, 77);
    margin-top: 20px;
}

.tit5{
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: rgb(77, 77, 77);
    margin-top: 50px;
}
.texto1{
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: rgb(77, 77, 77);
}

.figura{
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 500;
    font-style: normal;
    color: rgb(77, 77, 77);
}

.figura2 {
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 500;
    font-style: normal;
    color: rgb(77, 77, 77);
}
.figura3 {
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 500;
    font-style: normal;
    color: rgb(77, 77, 77);
}

.navfoot{
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: rgb(77, 77, 77);
    text-decoration: none;
}


.titulo{
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    color: black;
}

.fdm{
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 600;
    font-style: normal;
    color: rgb(77, 77, 77);
    margin-top: 50px;

}
.fdm1{
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgb(77, 77, 77);
    font-size: 13px;
}

.ender2{
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgb(77, 77, 77);
    font-size: 13px;

}

.delta2{
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgb(77, 77, 77);
    font-size: 13px;
}

.corexy2{
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgb(77, 77, 77);
    font-size: 13px;
}

.resina2{
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgb(77, 77, 77);
    font-size: 13px;

}

.fusionenpolvo2{
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 300;
    font-style: normal;
    color: rgb(77, 77, 77);
    font-size: 13px;
}

.impresionenmetal2{
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgb(77, 77, 77);
    font-size: 13px;
}
.paso1{
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 800;
    font-style: normal;
    color: rgb(77, 77, 77);
    margin-top: 20px;
}
.paso2{
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgb(77, 77, 77);
    font-size: 14px;
}

.pasoconimg1{
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgb(77, 77, 77);
    font-size: 14px;
}

.pasonconimg3{
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgb(77, 77, 77);
    font-size: 14px;
}

.pasoconimg5{
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgb(77, 77, 77);
    font-size: 14px;
}

.escan4{
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgb(77, 77, 77);
    font-size: 14px;
}

.escan3{
    background-color: rgb(58, 166, 185);
    border-radius: 30px;
    margin-top: 50px;
}

.soporte5{
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgb(77, 77, 77);
}

.soporte2{
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgb(77, 77, 77);
}

.soporte9bis{
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgb(77, 77, 77);
    font-size: 14px;
}
.soporte7{
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgb(77, 77, 77);
    font-size: 14px;
}
.soporte11{
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgb(77, 77, 77);
    font-size: 14px;
}
.soporte14{
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgb(77, 77, 77);
    font-size: 14px;
}


form{
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgb(77, 77, 77);
    ;
}

h2{
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 800;
    font-style: normal;
    color: rgb(77, 77, 77);
    text-align: center;
}

.contact-form{
    background-color: rgb(255, 158, 170);
    box-shadow: 3px 3px 15px rgb(58, 166, 185);
}
.pasoapaso2{
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgb(77, 77, 77);
    text-align: center;
}


